<mat-toolbar class="dms-toolbar">
  <span [routerLink]="['/home']" routerLinkActive="active"><a style="cursor: pointer;">CustomDMS</a></span>
  <div>
    <button mat-button [routerLink]="['/new-document']" routerLinkActive="active">New document</button>
    <button mat-button [routerLink]="['/document-repository']" routerLinkActive="active">Document repository</button>
    <button mat-button [routerLink]="['/configuration']" routerLinkActive="active">Configure</button>
  </div>
  <button mat-button [matMenuTriggerFor]="userMenu">User</button>
  <mat-menu #userMenu="matMenu" yPosition="below">
    <button mat-menu-item>Login</button>
    <button mat-menu-item>Register</button>
  </mat-menu>
</mat-toolbar>