<form [formGroup]="fieldGroup" *ngIf="fieldGroup">
  <mat-form-field>
    <input 
      matInput
      formControlName="name"
      placeholder="Name"
      type="text">
    <mat-error>This value is required!</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select 
      formControlName="type"
      placeholder="Type"
      (selectionChange)="onTypeChange()">
      <mat-option 
        *ngFor="let fieldType of fieldTypes"
        [value]="fieldType">{{fieldType}}</mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container [ngSwitch]="field.type">
    <ng-container *ngSwitchCase="'dictionary'">
      <mat-form-field>
        <mat-label>Select default dictionary</mat-label>
        <mat-select 
          formControlName="dictionaryId"
          (selectionChange)="onDictionaryChange($event.value)">
          <mat-option 
            *ngFor="let dictionary of dictionaries"
            [value]="dictionary.id">
            {{dictionary.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select default dictionary value</mat-label>
        <mat-select 
          formControlName="defaultValue">
          <mat-option 
            *ngFor="let dictionaryValue of selectedDictionaryValues"
            [value]="dictionaryValue.id">
            {{dictionaryValue.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
    <mat-form-field *ngSwitchCase="'textarea'">
      <mat-label>Default value</mat-label>
      <textarea 
        matInput 
        formControlName="defaultValue"
        type="text"
        rows="4"></textarea>
    </mat-form-field>
    <mat-form-field *ngSwitchCase="'user'">
      <mat-label>Select default user</mat-label>
      <mat-select 
        formControlName="defaultValue">
        <mat-option 
          *ngFor="let user of users"
          [value]="user">
          {{user}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="accent" *ngSwitchCase="'date'">
      <mat-label>Select default date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="defaultValue">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
    </mat-form-field>
    <mat-form-field color="accent" *ngSwitchCase="'daterange'">
      <mat-label>Select default dates from-to</mat-label>
      <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
      <mat-date-range-input [rangePicker]="picker" [formGroup]="fieldGroup">
        <input matStartDate placeholder="Start date" #dateRangeStart>
        <input matEndDate placeholder="End date" #dateRangeEnd (dateChange)="onDateRangeChange(dateRangeStart, dateRangeEnd)">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field *ngSwitchDefault>
      <input 
        matInput 
        placeholder="Default value"
        type="text"
        formControlName="defaultValue">
    </mat-form-field>
  </ng-container>
  <mat-checkbox  
    id="requiredInput" 
    autocomplete="off" 
    formControlName="required"> Required </mat-checkbox>
  <button 
    mat-button 
    type="button" 
    color="warn" 
    (click)="onDeleteField()">X</button>
  <span *ngIf="!fieldGroup.valid && fieldGroup.touched"
        class="help-block"
        style='color: #d9534f'>This document field is invalid!</span>
</form>