<form [formGroup]="fieldGroup">
  <hr>
  <mat-form-field>
    <input 
      matInput
      formControlName="name"
      placeholder="Name"
      type="text">
    <mat-error>This value is required!</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select 
      formControlName="type"
      placeholder="Type"
      (selectionChange)="onTypeChange()">
      <mat-option 
        *ngFor="let fieldType of fieldTypes"
        [value]="fieldType">{{fieldType}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox  
    id="requiredInput" 
    autocomplete="off" 
    formControlName="required"> Required </mat-checkbox>
  <button 
    type="button" 
    mat-button color="warn" 
    (click)="onDeleteField()">X</button>
  <div [ngSwitch]="fieldGroup.get('type').value">
    <div *ngSwitchCase="'dictionary'">
      <mat-form-field>
        <mat-label>Select default dictionary</mat-label>
        <mat-select 
          formControlName="dictionaryId"
          (selectionChange)="onDictionaryChange($event.value)">
          <mat-option 
            *ngFor="let dictionary of dictionaries"
            [value]="dictionary.id">
            {{dictionary.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select default dictionary value</mat-label>
        <mat-select 
          formControlName="defaultValue">
          <mat-option 
            *ngFor="let dictionaryValue of selectedDictionaryValues"
            [value]="dictionaryValue.id">
            {{dictionaryValue.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngSwitchCase="'textarea'">
      <mat-form-field>
        <mat-label>Default value</mat-label>
        <textarea 
          matInput 
          formControlName="defaultValue"
          type="text"
          rows="4"></textarea>
      </mat-form-field>
    </div>
    <div *ngSwitchCase="'user'">
      <mat-form-field>
        <mat-label>Select default user</mat-label>
        <mat-select 
          formControlName="defaultValue">
          <mat-option 
            *ngFor="let user of users"
            [value]="user">
            {{user}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngSwitchCase="'date'">        
      <mat-form-field>
        <input 
          matInput 
          placeholder="Select date"
          type="text"
          formControlName="defaultValue"
          theme="dp-material"
          [dpDayPicker]="{}" >
      </mat-form-field>
    </div>
    <div *ngSwitchCase="'daterange'">
      <mat-form-field>
        <input 
          matInput 
          placeholder="Select dates from-to"
          type="text"
          formControlName="defaultValue"
          [dpDayPicker]="{allowMultiSelect: true}" 
          (onChange)="onDateRangeChange($event)" 
          theme="dp-material">
      </mat-form-field>
    </div>
    <div *ngSwitchDefault>
      <mat-form-field>
        <input 
          matInput 
          placeholder="Default value"
          type="text"
          formControlName="defaultValue">
      </mat-form-field>
    </div>
  </div>
  <span *ngIf="!fieldGroup.valid && fieldGroup.touched"
        class="help-block"
        style='color: #d9534f'>This document field is invalid!</span>
</form>