<div class="row">
    <div class="col-md-12">
        <!-- <div [ngSwitch]="mainFormGroup.get('fields.' + i + '.type').value">
            <div *ngSwitchCase="'dictionary'">
                <div class="col-md-6">
                    <select class="form-control"
                            formControlName="defaultValue2">
                        <option *ngFor="let dictionary of getDictionaries()"
                                [value]="dictionary">{{dictionary.name}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select formControlName="defaultValue"
                            class="form-control">
                         <option *ngFor="let dictionaryValue of selectedDictionary"
                            [value]="dictionaryValue">{{dictionaryValue}}</option> 
                    </select>
                </div>
            </div>
            <div *ngSwitchDefault>
               
            </div>
        </div> -->
        <input placeholder="Default value"
               type="text"
               class="form-control">
    </div>
</div>