<form [formGroup]="documentFieldGroup">
  <div class="col-md-12">
    <div class="row">
      <label for="fieldValue"
             class="dms-label">{{documentField?.name}}</label>
      <div class="form-group">
        <div [ngSwitch]="documentField.type">
          <div *ngSwitchCase="'dictionary'">
            <select class="form-control"
                    formControlName="fieldValue">
              <option *ngFor="let dictionaryValue of selectedDictionaryValues"
                      [value]="dictionaryValue.id">{{dictionaryValue.name}}</option>
            </select>
          </div>
          <div *ngSwitchCase="'user'">
            <select class="form-control"
                    formControlName="fieldValue">
              <option *ngFor="let user of users"
                      [value]="user">{{user}}</option>
            </select>
          </div>
          <div *ngSwitchCase="'daterange'">
            <input type="text"
                   id="fieldValue"
                   class="form-control"
                   style="display: inline;"
                   theme="dp-material"
                   formControlName="fieldValue"
                   placeholder="Select date from-to"
                   [dpDayPicker]="{allowMultiSelect: true}"
                   (onChange)="onCustomDateChange($event)" />
          </div>
          <div *ngSwitchCase="'date'">
            <input type="text"
                   theme="dp-material"
                   class="form-control"
                   style="display: inline;"
                   formControlName="fieldValue"
                   placeholder="Select date"
                   [dpDayPicker]="{}" />
          </div>
          <div *ngSwitchCase="'textarea'">
            <textarea formControlName="fieldValue"
                      name="fieldValue"
                      id="fieldValue"
                      type="text"
                      rows="4"
                      class="form-control"></textarea>
          </div>
          <div *ngSwitchDefault>
            <input id="fieldValue"
                   name="fieldValue"
                   formControlName="fieldValue"
                   type="text"
                   class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>