<form [formGroup]="documentFieldGroup">
  <label for="fieldValue"
          class="dms-label">{{documentField?.name}}</label>
  <div [ngSwitch]="documentField.type">
    <ng-container *ngSwitchCase="'dictionary'">
      <ng-container *ngIf="selectedDictionaryValues">
        <mat-form-field>
          <mat-label>Select default dictionary</mat-label>
          <mat-select formControlName="fieldValue">
            <mat-option 
              *ngFor="let dictionaryValue of selectedDictionaryValues"
              [value]="dictionaryValue.id">
              {{dictionaryValue.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </ng-container>
    <mat-form-field *ngSwitchCase="'user'">
      <mat-label>Select default user</mat-label>
      <mat-select formControlName="fieldValue">
        <mat-option *ngFor="let user of users" [value]="user">
          {{user}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngSwitchCase="'daterange'">
      <mat-label>Select date from-to</mat-label>
      <mat-date-range-input 
        [rangePicker]="picker">
        <input matStartDate placeholder="Start date" (dateChange)="onDateRangeChange('start', $event)">
        <input matEndDate placeholder="End date" (dateChange)="onDateRangeChange('end', $event)">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field *ngSwitchCase="'date'">
      <mat-label>Select date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fieldValue">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngSwitchCase="'textarea'">
      <textarea 
        matInput 
        id="fieldValue"
        formControlName="fieldValue"
        type="text"
        rows="4"></textarea>
    </mat-form-field>
    <mat-form-field *ngSwitchDefault>
      <input 
        matInput 
        id="fieldValue"
        type="text"
        formControlName="fieldValue">
    </mat-form-field>
  </div>
</form>