<form class="form-signin" role="form" (submit)="login()">
    <div class="form-group">
        <label class="h3">Sign in</label>
        <input type="text" 
            class="form-control" 
            id="username" 
            name="username"
            placeholder="Username"
            [(ngModel)]="credentials.username" />
        <input type="password" 
            class="form-control" 
            id="password"
            name="password"
            placeholder="Password"
            [(ngModel)]="credentials.password" />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <button type="button" (click)="capSignIn()" class="btn btn-primary dms-button cap-signin-button">
        <h3>Sign in using CAP</h3>
    </button>
</form>