<form [formGroup]="mainFormGroup"
      (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-6">
      <input placeholder="Document type"
             type="text"
             class="form-control"
             formControlName="documentTypeName">
    </div>
    <div class="col-md-5">
      <div class="pull-right">
        <button class="btn btn-primary"
                type="submit"
                [disabled]="!mainFormGroup.valid">Save changes</button>
      </div>
    </div>
    <div class="col-md-1">
      <button class="btn btn-success"
              type="button"
              (click)="onAddField()">+</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"
         formArrayName="fields">
      <div class="row"
           *ngFor="let fieldControl of getFieldsControls(); let i = index"
           [formGroupName]="i">
        <div class="col-md-12">
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <hr>
              </div>
            </div>
            <div class="row"
                 style="margin-bottom: 10px;">
              <input type="hidden"
                     formControlName="id">
              <div class="col-md-6">
                <input formControlName="name"
                       placeholder="Name"
                       type="text"
                       class="form-control">
              </div>
              <div class="col-md-5">
                <select formControlName="type"
                        class="form-control"
                        placeholder="Type"
                        (change)="onTypeChange(i)">
                  <option *ngFor="let fieldType of fieldTypes"
                          [value]="fieldType">{{fieldType}}</option>
                </select>
              </div>
              <div class="col-md-1">
                <button class="btn btn-danger"
                        type="button"
                        (click)="onDeleteField(i)">X</button>
              </div>
            </div>
            <div class="row">
              <div [ngSwitch]="mainFormGroup.get('fields.' + i + '.type').value">
                <div *ngSwitchCase="'dictionary'">
                  <div class="col-md-6">
                    <select class="form-control"
                            (change)="onDictionaryChange($event.target.value)"
                            formControlName="defaultValueParent">
                      <option [value]="null">Select dictionary</option>
                      <option *ngFor="let dictionary of dictionaries"
                              [value]="dictionary.id">{{dictionary.name}}</option>
                    </select>
                  </div>
                  <div class="col-md-5">
                    <select class="form-control"
                            formControlName="defaultValue">
                      <option *ngFor="let dictionaryValue of selectedDictionaryValues"
                              [value]="dictionaryValue.id">{{dictionaryValue.name}}</option>
                    </select>
                  </div>
                </div>
                <div *ngSwitchCase="'textarea'">
                  <div class="col-md-11">
                    <textarea formControlName="defaultValue"
                              placeholder="Default value"
                              type="text"
                              rows="4"
                              class="form-control"></textarea>
                  </div>
                </div>
                <div *ngSwitchCase="'user'">
                  <div class="col-md-11">
                    <select class="form-control"
                            formControlName="defaultValue">
                      <option [value]="null">Select user</option>
                      <option *ngFor="let user of getUsers()"
                              [value]="user">{{user}}</option>
                    </select>
                  </div>
                </div>
                <!-- TODO date, daterange -->
                <div *ngSwitchDefault>
                  <div class="col-md-11">
                    <input formControlName="defaultValue"
                           placeholder="Default value"
                           type="text"
                           class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span *ngIf="!mainFormGroup.valid && mainFormGroup.touched"
        class="help-block">Please enter a valid data!</span>
</form>
