<form [formGroup]="mainFormGroup"
      (ngSubmit)="onSubmit()" style="display: flex;">
  <div style="flex-grow: 1;">
    <mat-form-field>
      <mat-label>Document type</mat-label>
      <mat-select 
        formControlName="documentType"
        placeholder="Type"
        (selectionChange)="onDocumentTypeChange()">
        <mat-option 
          *ngFor="let documentType of documentTypes"
          [value]="documentType">
          {{documentType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button 
        mat-flat-button 
        color="primary" 
        type="submit"
        [disabled]="!mainFormGroup.valid">Save changes</button>
      <button 
        mat-flat-button 
        type="button"
        (click)="onClear()">Clear</button>
    </div>
    <div formArrayName="fields">
      <div *ngFor="let fieldControl of getFieldsControls(); let i = index" [formGroupName]="i">
        <app-document-field [documentFieldGroup]="mainFormGroup.get('fields.' + i)"
                            [documentField]="documentType.fields[i]"></app-document-field>
      </div>
    </div>
  </div>
  <div style="flex-grow: 11;">
    <label for="file-upload"
            class="dms-label custom-file-upload">
      <i class="glyphicon glyphicon-upload"></i> Upload document file... </label>
    <input id="file-upload"
            type="file"
            (change)="onFileChange($event)"
            formControlName="documentFileInput"
            accept=".pdf">
    <p *ngIf="uploadedDocument; else noDocumentUploadedSpan"
        class="form-label bg-success">Document uploaded: {{uploadedDocumentMetadata.name}}</p>
    <ng-template #noDocumentUploadedSpan>
      <span class="help-block">Document file is required!</span>
    </ng-template>
    <pdf-viewer [src]="uploadedDocument"
                [render-text]="true"
                style="display: block; height: 800px;">
    </pdf-viewer>
  </div>
</form>