<form [formGroup]="fieldGroup">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <div class="row"
         style="margin-bottom: 10px;">
      <input type="hidden"
             formControlName="id">
      <div class="col-md-6">
        <input formControlName="name"
               placeholder="Name"
               type="text"
               class="form-control">
      </div>
      <div class="col-md-3">
        <select formControlName="type"
                class="form-control"
                placeholder="Type"
                (change)="onTypeChange()">
          <option *ngFor="let fieldType of fieldTypes"
                  [value]="fieldType">{{fieldType}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <div class="form-control">
          <span for="requiredInput">
            <input id="requiredInput"
                   type="checkbox"
                   autocomplete="off"
                   formControlName="required"> Required
          </span>
        </div>
      </div>
      <div class="col-md-1">
        <button class="btn btn-danger"
                type="button"
                (click)="onDeleteField()">X</button>
      </div>
    </div>
    <div class="row">
      <div [ngSwitch]="fieldGroup.get('type').value">
        <div *ngSwitchCase="'dictionary'">
          <div class="col-md-6">
            <select class="form-control"
                    (change)="onDictionaryChange($event.target.value)"
                    formControlName="defaultValueParent">
              <option [value]="null">Select dictionary</option>
              <option *ngFor="let dictionary of getDictionaries()"
                      [value]="dictionary.id">{{dictionary.name}}</option>
            </select>
          </div>
          <div class="col-md-5">
            <select class="form-control"
                    formControlName="defaultValue">
              <option *ngFor="let dictionaryValue of selectedDictionaryValues"
                      [value]="dictionaryValue.id">{{dictionaryValue.name}}</option>
            </select>
          </div>
        </div>
        <div *ngSwitchCase="'textarea'">
          <div class="col-md-11">
            <textarea formControlName="defaultValue"
                      placeholder="Default value"
                      type="text"
                      rows="4"
                      class="form-control"></textarea>
          </div>
        </div>
        <div *ngSwitchCase="'user'">
          <div class="col-md-11">
            <select class="form-control"
                    formControlName="defaultValue">
              <option [value]="null">Select user</option>
              <option *ngFor="let user of getUsers()"
                      [value]="user">{{user}}</option>
            </select>
          </div>
        </div>
        <div *ngSwitchCase="'date'">
          <div class="col-md-11">
            <input type="text"
                   theme="dp-material"
                   class="form-control"
                   style="display: inline;"
                   formControlName="defaultValue"
                   placeholder="Select date"
                   [dpDayPicker]="{}" />
          </div>
        </div>
        <div *ngSwitchCase="'daterange'">
          <div class="col-md-11">
            <div class="input-group">
              <input type="text"
                     class="form-control"
                     theme="dp-material"
                     formControlName="defaultValueParent"
                     placeholder="Select date from"
                     [dpDayPicker]="{}" />
              <span class="input-group-addon">-</span>
              <input type="text"
                     class="form-control"
                     theme="dp-material"
                     formControlName="defaultValue"
                     placeholder="Select date to"
                     [dpDayPicker]="{}" />
            </div>
          </div>
        </div>
        <div *ngSwitchDefault>
          <div class="col-md-11">
            <input formControlName="defaultValue"
                   placeholder="Default value"
                   type="text"
                   class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>